<h1>Editing ticketsection</h1>

<%= form_for(@ticketsection) do |f| %>
  <% if @ticketsection.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@ticketsection.errors.count, "error") %> prohibited this ticketsection from being saved:</h2>
    <ul>
    <% @ticketsection.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pricewithid %><br />
    <%= f.text_field :pricewithid %>
  </p>
  <p>
    <%= f.label :pricewoutid %><br />
    <%= f.text_field :pricewoutid %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ticketsection %> |
<%= link_to 'Back', show_path(@show) %>
