<h1>New ticketsection</h1>

<% form_for(@ticketsection) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :showid, :value => @show.abbrev %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pricewithid %><br />
    <%= f.text_field :pricewithid %>
  </p>
  <p>
    <%= f.label :pricewoutid %><br />
    <%= f.text_field :pricewoutid %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', show_path(@show) %>