<p>
  <b>Show:</b>
  <%= @ticketsection.show %>
</p>

<p>
  <b>Name:</b>
  <%= @ticketsection.name %>
</p>

<p>
  <b>Price with ID:</b>
  <%= @ticketsection.pricewithid %>
</p>

<p>
  <b>Price without ID:</b>
  <%= @ticketsection.pricewoutid %>
</p>

<p>
  <b>Size:</b>
  <%= @ticketsection.size %>
</p>


<% if can? :update, Ticketsection %><%= link_to 'Edit', edit_ticketsection_path(@ticketsection) %> | <% end %>
<%= link_to 'Back', show_path(@show) %>
