<p>
  <b>Show:</b>
  <%=h @ticketsection.show %>
</p>

<p>
  <b>Name:</b>
  <%=h @ticketsection.name %>
</p>

<p>
  <b>Price with ID:</b>
  <%=h @ticketsection.pricewithid %>
</p>

<p>
  <b>Price without ID:</b>
  <%=h @ticketsection.pricewoutid %>
</p>

<p>
  <b>Size:</b>
  <%=h @ticketsection.size %>
</p>


<%= link_to 'Edit', edit_ticketsection_path(@ticketsection) %> | <%= link_to 'Back', show_path(@show) %>