<% ast = "<span style=\"color:red;font-variant:italics;\">*</span>" %>
<h1>Editing content</h1>

<% form_for(@content) do |f| %>
  <%= f.error_messages %>

  <p style="color:red;font-variant:italics;">
	* Required
  </p>

  <p>
    <%= f.label :title %><%= ast %><br />
    <%= f.text_field :title %>
  </p>
  <p>
	<%= f.label :contentpane %><%= ast %><br />
	<%= f.select :contentpane, {"About Us","about","70th AI", "70ai"} %>
  </p>
  <p>
	<%= f.label :contenttype, "Content type" %><%= ast %><br />
	<%= f.select :contenttype, {"Content","content","Link","link"} %>
  </p>
  <p>
    <%= f.label :anchor %><%= ast %><br />
    <%= f.text_field :anchor, {:disabled => true} %>
  </p>
  <p>
    <%= f.label :publish, "Publish on site" %><br />
    <%= f.check_box :publish %>
  </p>
  <p>
    <%= f.label :order, "Order in menu/page" %><%= ast %><br />
    <%= f.text_field :order %>
  </p>
  <p>
	You can use <a href='http://redcloth.rubyforge.org/'>RedCloth</a> to mark up your content!
  </p>
  <p>
    <%= f.label :article %><br />
    <%= f.text_area :article, :cols => 107 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @content %> |
<%= link_to 'Back', contents_path %>