<% ast = "<span style=\"color:red;font-variant:italics;\">*</span>" %>
<h1>New content</h1>

<% form_for(@content) do |f| %>
  <%= f.error_messages %>

  <p style="color:red;font-variant:italics;">
	* Required
  </p>

  <p>
    <%= f.label :title %><%= ast %><br />
    <%= f.text_field :title %>
  </p>
  <p>
	<%= f.label :contentpane %><%= ast %><br />
	<%= f.select("contentpane",Pane.find(:all,:conditions => ["panetype != 'link'"]).collect{|p| [p.title, p.anchor]}) %>
  </p>
  <p>
    <%= f.label :menutitle, "Menu title" %><br />
    <%= f.text_field :menutitle %>
  </p>
  <p>
	<%= f.label :contenttype, "Content type" %><%= ast %><br />
	<%= f.select("contenttype", {"Content","content","Link","link"}) %>
  </p>
  <p>
    <%= f.label :anchor %><%= ast %><br />
    <%= f.text_field :anchor %> (you will not be able to change this later)
  </p>
  <p>
    <%= f.label :publish, "Publish on site" %><br />
    <%= f.check_box :publish %>
  </p>
  <p>
    <%= f.label :hidden, "Hidden from menu" %><br />
    <%= f.check_box :hidden %>
  </p>
  <p>
    <%= f.label :order, "Order in menu/page" %><%= ast %><br />
    <%= f.text_field :order %>
  </p>
  <p>
	You can now add link templates to articles! Examples:<br />
	[[p+about]] =&gt; creates a link to the 'about' pane using default title<br />
	[[p+about|SpecialTitle]] =&gt; creates a link to the 'about' pane using "SpecialTitle"<br />
	Use c instead of p to link to a content article.<br />
	Use a to link outside.<br />
	Use m to make an email link (will default to the email address, unless it's a user in the db, unless you put a SpecialTitle).
  </p>
  <p>
    <%= f.label :article %><br />
    <%= f.text_area :article %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', contents_path %>