<p>
  <b>Title:</b>
  <%=h @content.title %>
</p>

<p>
  <b>Contentpane:</b>
  <%=h @content.contentpane %>
</p>

<p>
  <b>Contenttype:</b>
  <%=h @content.contenttype %>
</p>

<p>
  <b>Anchor:</b>
  <%=h @content.anchor %>
</p>

<p>
  <b>Publish:</b>
  <%=h @content.publish %>
</p>

<p>
  <b>Order:</b>
  <%=h @content.order %>
</p>

<p>
  <b>Article:</b>
  <%=h @content.article %>
</p>


<% if session[:crud]["u"]["contents"] %><%= link_to 'Edit', edit_content_path(@content) %> |<% end %>
<%= link_to 'Back', contents_path %>