<p>
  <b>Title:</b>
  <%= @content.title %>
</p>

<p>
  <b>Contentpane:</b>
  <%= @content.contentpane %>
</p>

<p>
  <b>Contenttype:</b>
  <%= @content.contenttype %>
</p>

<p>
  <b>Anchor:</b>
  <%= @content.anchor %>
</p>

<p>
  <b>Publish:</b>
  <%= @content.publish %>
</p>

<p>
  <b>Order:</b>
  <%= @content.order %>
</p>

<p>
  <b>Article:</b>
  <%= @content.article %>
</p>


<% if can? :update, Content %><%= link_to 'Edit', edit_content_path(@content) %> | <% end %>
<%= link_to 'Back', contents_path %>
