<p>
  <b>Rezid:</b>
  <%=h @rezlineitem.rezid %>
</p>

<p>
  <b>Performance:</b>
  <%=h @rezlineitem.performance %>
</p>

<p>
  <b>Sectionid:</b>
  <%=h @rezlineitem.sectionid %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @rezlineitem.quantity %>
</p>


<%= link_to 'Edit', edit_rezlineitem_path(@rezlineitem) %> | <%= link_to 'Back', ticketrez_path(@ticketrez) %>