<p>
  <b>Rez:</b>
  <%= @rezlineitem.ticketrez %>
</p>

<p>
  <b>Performance:</b>
  <%= @rezlineitem.performance %>
</p>

<p>
  <b>Section:</b>
  <%= @rezlineitem.ticketsection %>
</p>

<p>
  <b>Quantity:</b>
  <%= @rezlineitem.quantity %>
</p>


<% if can? :update, Rezlineitem %><%= link_to 'Edit', edit_rezlineitem_path(@rezlineitem) %> | <% end %>
<%= link_to 'Back', ticketrez_path(@ticketrez) %>
