<p>
  <b>Rez:</b>
  <%=h @rezlineitem.rez %>
</p>

<p>
  <b>Performance:</b>
  <%=h @rezlineitem.performance %>
</p>

<p>
  <b>Section:</b>
  <%=h @rezlineitem.ticketsection %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @rezlineitem.quantity %>
</p>


<%= link_to 'Edit', edit_rezlineitem_path(@rezlineitem) %> | <%= link_to 'Back', ticketrez_path(@ticketrez) %>