<h1>Editing topic</h1>

<% form_for(@topic) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :categoryid %><br />
    <%= f.text_field :categoryid %>
  </p>
  <p>
    <%= f.label :creatorid %><br />
    <%= f.text_field :creatorid %>
  </p>
  <p>
    <%= f.label :sticky %><br />
    <%= f.check_box :sticky %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @topic %> |
<%= link_to 'Back', topics_path %>