<h1>Listing topics</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Categoryid</th>
    <th>Creatorid</th>
    <th>Sticky</th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%=h topic.name %></td>
    <td><%=h topic.categoryid %></td>
    <td><%=h topic.creatorid %></td>
    <td><%=h topic.sticky %></td>
    <td><%= link_to 'Show', topic %></td>
    <% if session[:crud]["u"]["topics"] %><td><%= link_to 'Edit', edit_topic_path(topic) %></td><% end %>
    <% if session[:crud]["d"]["topics"] %><td><%= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />

<% if session[:crud]["c"]["topics"] %><%= link_to 'New topic', new_topic_path %><% end %>