<p>
  <b>Name:</b>
  <%=h @topic.name %>
</p>

<p>
  <b>Categoryid:</b>
  <%=h @topic.categoryid %>
</p>

<p>
  <b>Creatorid:</b>
  <%=h @topic.creatorid %>
</p>

<p>
  <b>Sticky:</b>
  <%=h @topic.sticky %>
</p>


<% if session[:crud]["u"]["topics"] %><%= link_to 'Edit', edit_topic_path(@topic) %> |<% end %>
<%= link_to 'Back', topics_path %>