<script type='text/javascript'>
jQuery(document).ready(function(){
jQuery("#displayTerms").colorbox({inline:true,href:"#termsofuse",initialWidth:650,width:650,transition:"none"})
})
</script>

<div class='fleft' style="display:inline;width:50%;">
	<%= form_tag do %>
	 <%= hidden_field_tag :type, "login" %>
		<fieldset>
			<legend>Please Log In</legend>
			
			<div>
				<label for="name">Name:</label>
				<%= text_field_tag :lname, params[:lname] %>
			</div>
			
			<div>
				<label for="password">Password:</label>
				<%= password_field_tag :lpassword, params[:lpassword] %>
			</div>
			<br />
			<div style='text-align:center;'>
				<%= submit_tag "Login" %>
			</div>
		</fieldset>
	<% end %>
  <%= form_tag do %>
    <%= hidden_field_tag :type, "forgot" %>
    <fieldset>
      <legend>Forgot Password</legend>
      
      <div>
        <label for="email">Email:</label>
        <%= text_field_tag :femail, params[:femail] %><br />
      </div>
      <br />
      <div style='text-align:center;'>
        <%= submit_tag "Send me a new one!" %>
      </div>
    </fieldset>
  <% end %>
</div>
<div class='fleft' style="display:inline;width:50%">
  <div style='display:none;'>
    <div id='termsofuse'>
      <h1>Terms of Use</h1>
      <br />
      You don't disseminate false, misleading, or uncouth information and we won't give your email address to every spam list ever.<br />
      Deal?<br />
      <a onclick='jQuery.fn.colorbox.close()'>yeah, whatever</a>
    </div>
  </div>
  <%= form_tag do %>
    <%= hidden_field_tag :type, "create" %>
    <fieldset>
      <legend>Create an Account</legend>
      
      <div>
        <label for="name">Name:</label>
        <%= text_field_tag :cname, params[:cname] %>
      </div>
      <br />
      <div>
        <label for="email">Email:</label>
        <%= text_field_tag :cemail, params[:cemail] %>
      </div>
      
      <div>
        <label for="emailConfirmation">Retype Email:</label>
        <%= text_field_tag :cemailConfirmation, params[:cemailConfirmation] %>
      </div>
      <br />
      <div>
        <label for="password">Password:</label>
        <%= password_field_tag :cpassword, params[:cpassword] %>
      </div>
      
      <div>
        <label for="retype">Retype Password:</label>
        <%= password_field_tag :cretype, params[:cretype] %>
      </div>
      
      <a id='displayTerms' href='#'>Terms of Use</a>
      
      <div style='text-align:center;'>
        <%= submit_tag "Create", {:onclick => "return terms();"} %>
      </div>
    </fieldset>
  <% end %>
</div>
<div class='clearfix'></div>
