<h1>Editing ticketrez</h1>

<% form_for(@ticketrez) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :showid, :value => @show.abbrev %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :hasid %><br />
    <%= f.check_box :hasid %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ticketrez %> |
<%= link_to 'Back', show_path(@show) %>