<h1>Editing ticketrez</h1>

<% form_for(@ticketrez) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :showid %><br />
    <%= f.select :showid, Show.all.sort! { |y, x| Time.parse(x.performancetimes.split("|")[0])<=>Time.parse(y.performancetimes.split("|")[0]) }.map {|show| [show.name, show.abbrev]} %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :performance %><br />
    <%= f.text_field :performance %>
  </p>
  <p>
    <%= f.label :hasid %><br />
    <%= f.check_box :hasid %>
  </p>
  <p>
    <%= f.label :sectioninfo %><br />
    <%= f.text_field :sectioninfo %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ticketrez %> |
<%= link_to 'Back', shows_path %>