<h1>Editing ticketrez</h1>

<%= form_for(@ticketrez) do |f| %>
  <% if @ticketrez.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@ticketrez.errors.count, "error") %> prohibited this ticketrez from being saved:</h2>
    <ul>
    <% @ticketrez.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :hasid %><br />
    <%= f.check_box :hasid %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ticketrez %> |
<%= link_to 'Back', show_path(@show) %>
