<p><b>Show:</b><%=h @ticketrez.show %></p>
<p><b>Name:</b><%=h @ticketrez.name %></p>
<p><b>Email:</b><%=h @ticketrez.email %></p>
<p><b>Hasid:</b><%=h @ticketrez.hasid %></p>

<% if can? :update, Ticketrez %><%= link_to 'Edit', edit_ticketrez_path(@ticketrez) %> | <% end %>
<%= link_to 'Back', show_path(@show) %>
<br />
<br />

<h1>Listing rezlineitems</h1>

<table>
  <tr>
    <th>Performance</th>
    <th>Section</th>
    <th>Quantity</th>
  </tr>

<%
trclass = "class='zebra'"
@rezlineitems.each do |rezlineitem|
  if trclass=="class='zebra'"
    trclass = ""
  else
    trclass = "class='zebra'"
  end
%>
  <tr <%= trclass %>>
    <td><%=h rezlineitem.performance %></td>
    <td><%=h rezlineitem.ticketsection %></td>
    <td><%=h rezlineitem.quantity %></td>
    <td><%= link_to 'Show', rezlineitem %></td>
    <% if can? :update, Rezlineitem %><td><%= link_to 'Edit', edit_rezlineitem_path(rezlineitem) %></td><% end %>
    <% if can? :destroy, Rezlineitem %><td><%= link_to 'Destroy', rezlineitem, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Rezlineitem %><%= link_to 'New rezlineitem', new_rezlineitem_path+"/"+@ticketrez.id.to_s %><% end %>
