<p>
  <b>Showid:</b>
  <%=h @ticketrez.showid %>
</p>

<p>
  <b>Name:</b>
  <%=h @ticketrez.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @ticketrez.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @ticketrez.phone %>
</p>

<p>
  <b>Sectioninfo</b>
  <%=h @ticketrez.sectionid %>
</p>

<p>
  <b>Performance:</b>
  <%=h @ticketrez.performance %>
</p>

<p>
  <b>Hasid:</b>
  <%=h @ticketrez.hasid %>
</p>


<%= link_to 'Edit', edit_ticketrez_path(@ticketrez) %> |
<%= link_to 'Back', shows_path %>