Tickets are not yet available for reservation. (<a id='a_alert_<%= alert.abbrev %>' href='#'>sign up for an alert</a>)
<div style='display:none;'>
  <div id='d_alert_<%= alert.abbrev %>'>
    <div id='f_alert_<%= alert.abbrev %>' class='f_alert' style='display:none;'>
      <div id='f_alert_<%= alert.abbrev %>_valid' style='display:none;'>Your input seems to be invalid. Please make sure all required fields are correctly filled.</div>
      <div id='f_alert_<%= alert.abbrev %>_form' style='display:none;'>There was an error sending the form data. Try again later, or if you can't wait, <a href='mailto:webmaster@snstheatre.org' target='_blank'>email us</a>.</div>
    </div>
    Sign up for an email alert for <i><%= alert.name %></i><br />
    <!-- put in a form that AJAXs some stuff over to createticketalert, gets the response, displays it -->
    Email address: <input id='e_alert_<%= alert.abbrev %>' type='text'></input>
    <input type='submit' onclick="ticket('<%= alert.abbrev %>','alert')" value='Sign up'/>
  </div>
</div>
<script type='text/javascript'>
  jQuery("#a_alert_<%= alert.abbrev %>").colorbox({inline:true, href:'#d_alert_<%= alert.abbrev %>', initialWidth:'50%', initialHieght: '200px', transition:'fade', width: '50%', height: '200px', opacity:0.3});
</script>