Tickets are not yet available for reservation. (<a id='a_<%= alert.abbrev %>' href='#'>sign up for an alert</a>)
<div style='display:none;'>
  <div id='div_<%= alert.abbrev %>'>
    <div id='response_<%= alert.abbrev %>'></div>
    <div id='flash_<%= alert.abbrev %>' class='flash_alert' style='display:none;'>
      <div id='flash_<%= alert.abbrev %>_valid' style='display:none;'>One or more fields seems to be incorrectly filled.</div>
      <div id='flash_<%= alert.abbrev %>_form' style='display:none;'>There was an error sending the form data. Try again later, or if you can't wait, <a href='mailto:webmaster@snstheatre.org' target='_blank'>email us</a>.</div>
    </div>
    <div id='query_<%= alert.abbrev %>'>
      Sign up for an email alert for <i><%= alert.name %></i><br />
      <!-- put in a form that AJAXs some stuff over to createticketalert, gets the response, displays it -->
      <div id='form_<%= alert.abbrev %>'>
        <input type='hidden' id='type' value='alert' />
        Email address: <input id='email' type='text'></input>
        <input type='submit' onclick="ticket('<%= alert.abbrev %>')" value='Sign up'/>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
  jQuery("#a_<%= alert.abbrev %>").colorbox({inline:true, href:'#div_<%= alert.abbrev %>', initialWidth:'50%', initialHieght: '200px', transition:'fade', width: '50%', height: '200px', opacity:0.3});
</script>