<div id='content_<%= carousel_item.abbrev %>' class='content'
	<% if !@activeshow.nil? && carousel_item.abbrev == @activeshow.abbrev %>
		style='display:block;'
	<% end %>
	>
	<% if carousel_item.imageurl != "" %>
    
		<%= image_tag "http://upload.snstheatre.org/gin/shows/#{carousel_item.imageurl}", :class => "contentimg" %><br />
	<% else %>
		<%= image_tag "http://upload.snstheatre.org/gin/shows/temp.png", :class => 'contentimg' %><br />
	<% end %>
	<div class='nonimg'>
		<%= carousel_item.name %>
		<div class='subtext'>
			<% if carousel_item.author != "" %>
				by <%= carousel_item.author %><br />
			<% end %>
			<%= carousel_item.carperformances %>
			<% if carousel_item.loc %>
				<%= carousel_item.loc %><br />
			<% end %>
			<%= carousel_item.tickettext %>
		</div>
	</div>
</div>