<div id='carouselitem_<%= carousel_item.abbrev %>' class='carouselitem fleft'>
  <%= image_tag "http://upload.snstheatre.org/gin/shows/#{carousel_item.imageurl}", :class => "carouselimg fleft" %>
  <div class='carouselinfo fleft'>
    <span class='carouselinfo_name orange' style='font-size:13pt;'><%= carousel_item.name %></span><br />
    <span class='carouselinfo_datecarousel upper'><%= carousel_item.datecarousel %></span><br />
    <% if !carousel_item.author.blank? %><span class='carouselinfo_author'>By <%= carousel_item.author %>.</span><br /><% end %>
    <% if !carousel_item.director.blank? %><span class='carouselinfo_director'>Directed by <%= carousel_item.director %>.</span><br /><% end %>
    <% if carousel_item.timesvisible %><br /><span class='carouselinfo_perfcarousel'><%= carousel_item.perfcarousel %></span><br /><% end %>
    <% if !carousel_item.loc.blank? %><span class='carouselinfo_loc'><%= carousel_item.loc %>.</span><br /><% end %>
    <br /><span class='carouselinfo_ticketstatus'>
      <%
      if carousel_item.ticketstatus == "open" #&& !carousel_item.ticketsections.blank?
        %><a href='http://tickets.snstheatre.org/' target='_blank'>Reserve tickets now!</a><%
        # link_to "Reserve tickets now!", "/tickets/show/#{carousel_item.abbrev}"
      elsif carousel_item.ticketstatus == "closed"
        %>Tickets are not yet available for this production.<%
        # Tickets are not yet available for this production. (link_to "sign up for an alert", "/tickets/show/#{carousel_item.abbrev}")
      elsif carousel_item.ticketstatus == "completed"
        # This production is in the past. View more info
      end
      %>
    </span><br />
  </div>
</div>