<div id='carouselitem_<%= carousel_item.abbrev %>' class='carouselitem fleft'>
  <%= image_tag "http://upload.snstheatre.org/gin/shows/#{carousel_item.imageurl}", :class => "carouselimg fleft" %>
  <div class='carouselinfo fleft'>
    <%= carousel_item.name %><br />
    <%= carousel_item.datecarousel %><br />
    <% if !carousel_item.author.nil? && !carousel_item.author.blank? %>
      By <%= carousel_item.author %><br />
    <% end %>
    <!-- director(s)<br /> -->
    <br /><%= carousel_item.perfcarousel %><br />
    <br /><%= carousel_item.loc %><br />
    <br />
    <% if carousel_item.ticketstatus == "completed" %>
      <a href='#'>View more about this past Scotch'n'Soda production.</a>
    <% elsif carousel_item.ticketstatus == "closed" %>
      Tickets are not yet available for reservation (<a href='#'>sign up for an alert</a>).
    <% else %>
      <a href='#'>Reserve my ticket now.</a>
    <% end %>
    <br />
  </div>
</div>