<%
gradient = 'style="background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(222,222,222)), color-stop(1, rgb(255,255,255))); background-image: -moz-linear-gradient(center bottom, rgb(222,222,222) 0%, rgb(255,255,255) 100%)"'
styleperf = (action_name == "index")? gradient:""
styleabout = (params[:id] == "about")? gradient:""
style70ai = (params[:id] == "70ai")? gradient:""
stylenews = (action_name == "news")? gradient:""

%>
<div id='menu'>
  <ul>
    <li class='bottomleftcorner'<%= styleperf %>><%= link_to "Performances<br />& Ticket Kiosk", root_url, {:class => "bottomleftcorner"} %></li>
    <li <%= styleabout %>><%= link_to "About Us", {:action => "showpane", :id => "about"} %> </li>
    <li <%= style70ai %>><%= link_to "70th Anniversary<br />Initiative", {:action => "showpane", :id => "70ai"} %></li>
    <li><%= link_to "The No Parking<br />Players", "http://npp.snstheatre.org", :target => "_blank" %></li>
    <li <%= stylenews %>><%= link_to "News Archive", {:action => "news"}, {:class => "bottomrightcorner" } %></li>
  </ul>
</div>