<div id='menu'>
  <ul class='firstmenu menu'>
    <li class='firstitem item'><%= link_to "Performances<br />& Ticket Kiosk", root_url %></li>
    <li class='firstitem item'><%= link_to "About Us", :action => "showpane", :id => "about" %> </li>
    <li class='firstitem item'><%= link_to "70th Anniversary Initiative", :action => "showpane", :id => "70ai" %></li>
    <li class='firstitem item'><%= link_to "The No Parking Players", "http://npp.snstheatre.org", :target => "_blank" %></li>
    <li class='firstitem item'><%= link_to "News Archive", :action => "newsarchive" %></li>
  </ul>
</div>