<div class='article'>
  <div id='indexleft' class='articleleft fleft'>
    <div id='carouselwindow'>
      <div id='carouselitemscontainer'>
        <% for show in @shows %>
          <%= render :partial => "carousel_item", :object => show %>
        <% end %>
        <br style="clear:both;" />
      </div>
    </div>
    <div id='carouselnavigator'>
      <div class='carouselnavbutton fleft' onclick='left();'><%= image_tag "layout/larr.gif" %></div>
        <div id='carousellinkswindow' class='fleft'>
          <div id='carousellinkscontainer'>
            <% for show in @shows %>
              <%= render :partial => "carousel_link", :object => show %>
            <% end %>
            <br style="clear:both;" />
          </div>
        </div>
      <div class='carouselnavbutton fright' onclick='right();'><%= image_tag "layout/rarr.gif" %></div>
    </div>
  </div>
  <div id='indexright' class='articleright fright'>
    <h1 id='newstitle'>News</h1>
    <div id='newswindow'>
      <div id='newsitemscontainer'>
        <% for update in @updates %>
          <%= render :partial => "news_item", :object => update %>
        <% end %>
      </div>
    </div>
  </div>
  <br style="clear:both;" />
</div>