<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%= link_to 'Show', user %></td>
    <% if session[:crud]["u"]["users"] %><td><%= link_to 'Edit', edit_user_path(user) %></td><% end %>
    <% if session[:crud]["d"]["users"] %><td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />

<% if session[:crud]["c"]["users"] %><%= link_to 'New update', new_user_path %><% end %>

<h1>Listing roles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Abbrev</th>
    <th>Crudcontents</th>
    <th>Crudshows</th>
    <th>Crudusers</th>
    <th>Crudupdates</th>
    <th>Crudroles</th>
    <th>Crudroleassoc</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%=h role.name %></td>
    <td><%=h role.abbrev %></td>
    <td><%=h role.crudcontents %></td>
    <td><%=h role.crudshows %></td>
    <td><%=h role.crudusers %></td>
    <td><%=h role.crudupdates %></td>
    <td><%=h role.crudroles %></td>
    <td><%=h role.crudroleassocs %></td>
    <td><%= link_to 'Show', role %></td>
    <% if session[:crud]["u"]["roles"] %><td><%= link_to 'Edit', edit_role_path(role) %></td><% end %>
    <% if session[:crud]["d"]["roles"] %><td><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />

<% if session[:crud]["c"]["roles"] %><%= link_to 'New role', new_role_path %><% end %>

<h1>Listing roleassocs</h1>

<table>
  <tr>
    <th>Roleid</th>
    <th>Userid</th>
  </tr>

<% @roleassocs.each do |roleassoc| %>
  <tr>
    <td><%=h roleassoc.roleid %></td>
    <td><%=h roleassoc.userid %></td>
    <td><%= link_to 'Show', roleassoc %></td>
    <% if session[:crud]["u"]["roleassocs"] %><td><%= link_to 'Edit', edit_roleassoc_path(roleassoc) %></td><% end %>
    <% if session[:crud]["d"]["roleassocs"] %><td><%= link_to 'Destroy', roleassoc, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />

<% if session[:crud]["c"]["roleassocs"] %><%= link_to 'New roleassoc', new_roleassoc_path %><% end %>