<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
<%
trclass = "class='zebra'"
@users.each do |user|
  if trclass=="class='zebra'"
    trclass = ""
  else
    trclass = "class='zebra'"
  end
%>
  <tr <%= trclass %>>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <% if User.find(session[:user_id]).hasaccess("users", "update") %><td><%= link_to 'Edit', edit_user_path(user) %></td><% end %>
    <% if User.find(session[:user_id]).hasaccess("users", "destroy") %><td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />

<% if User.find(session[:user_id]).hasaccess("users", "create") %><%= link_to 'New update', new_user_path %><% end %>

<h1>Listing roles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Abbrev</th>
  </tr>

<%
trclass = "class='zebra'"
@roles.each do |role|
  if trclass=="class='zebra'"
    trclass = ""
  else
    trclass = "class='zebra'"
  end
%>
  <tr <%= trclass %>>
    <td><%=h role.rname %></td>
    <td><%=h role.rabbrev %></td>
    <td><%= link_to 'Show', role %></td>
    <% if User.find(session[:user_id]).hasaccess("roles", "update") %><td><%= link_to 'Edit', edit_role_path(role) %></td><% end %>
    <% if User.find(session[:user_id]).hasaccess("roles", "destroy") %><td><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />

<% if User.find(session[:user_id]).hasaccess("roles", "create") %><%= link_to 'New role', new_role_path %><% end %>

<h1>Listing roleassocs</h1>

<table>
  <tr>
    <th>Roleid</th>
    <th>Userid</th>
  </tr>

<%
trclass = "class='zebra'"
@roleassocs.each do |roleassoc|
  if trclass=="class='zebra'"
    trclass = ""
  else
    trclass = "class='zebra'"
  end
%>
  <tr <%= trclass %>>
    <td><%=h roleassoc.roleid %></td>
    <td><%=h roleassoc.userid %></td>
    <td><%= link_to 'Show', roleassoc %></td>
    <% if User.find(session[:user_id]).hasaccess("roleassocs", "update") %><td><%= link_to 'Edit', edit_roleassoc_path(roleassoc) %></td><% end %>
    <% if User.find(session[:user_id]).hasaccess("roleassocs", "destroy") %><td><%= link_to 'Destroy', roleassoc, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />

<% if User.find(session[:user_id]).hasaccess("roleassocs", "create") %><%= link_to 'New roleassoc', new_roleassoc_path %><% end %>