<% ast = "<span style=\"color:red;font-variant:italics;\">*</span>" %>
<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p style="color:red;font-variant:italics;">
	* Required
  </p>

<p>
    <%= f.label :name %><%= ast %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :password %><%= ast %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :retyoe, "Retype password" %><%= ast %><br />
    <%= f.datetime_select :retype %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>