<div class='navlink'><a onclick='showContent("<%= carousel_link.abbrev %>")'>
	<div class='navbutton'>
		<% if carousel_link.inseason %>
			<img src='images/carousel/buttonyellow.png' id='buttonb_<%= carousel_link.abbrev %>' class='button'
			<% if !@activeshow.nil? && carousel_link.abbrev != @activeshow.abbrev %>
				style='display:block;'
			<% else %>
				style='display:none;'
			<% end %>
			>
		<% else %>
			<img src='images/carousel/buttongrey.png' id='buttonb_<%= carousel_link.abbrev %>' class='button'
			<% if !@activeshow.nil? && carousel_link.abbrev != @activeshow.abbrev %>
				style='display:block;'
			<% else %>
				style='display:none;'
			<% end %>
			>
		<% end %>
		<img src='images/carousel/buttonorange.png' id='buttona_<%= carousel_link.abbrev %>' class='button'
		<% if !@activeshow.nil? && carousel_link.abbrev == @activeshow.abbrev %>
			style='display:block;'
		<% else %>
			style='display:none;'
		<% end %>
		>
	</div>	
	<div class='navtext' id='navtext_<%= carousel_link.abbrev %>'
		<% if !carousel_link.showdates %>
			style='margin: 20px 0px 0px 0px;'
		<% end %>
	>
		<%= carousel_link.abbrev %><br />
		<span class='navsub' id='navsub_<%= carousel_link.abbrev %>'>
			<%= carousel_link.linkperformances %>
		</span>
	</div>
	<br clear='all' style='height:0px;'>
</a></div>