<h1>Editing ticketalert</h1>

<% form_for(@ticketalert) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ticketalert %> |
<%= link_to 'Back', show_path(@show) %>
