<h1>New ticketalert</h1>

<% form_for(@ticketalert) do |f| %>
  <%= f.error_messages %>
  
  <%= f.hidden_field :show_id, :value => @show.id %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', show_path(@show) %>
