<%
message = ""
if @ticketrezdidntsave or @rezlineitemdidntsave
  message += "<br/>We couldn't save your ticket reservation for some reason."
end

if @ticketrezdidntsave
  message += "<br/>#{@ticketrezerrors.join("<br/>")}"
end
if @rezlineitemdidntsave
  puts "FROM THE VIEW: rezlineitemerrors: #{@rezlineitemerrors.inspect}"
  message += "<br/>#{@rezlineitemerrors.join("<br/>")}"
end

if !message.blank?
  # a validation error happened.
  message = "<h1>Something's gone wrong!</h1>#{message}"
else
  # no errors
  message = "<h1>Thank you!</h1><br />Your tickets have been successfully reserved and we look forward to seeing you at the show!<br /><br />Please visit at the door of #{@show.loc} 30 minutes before the performance to pay for and pick up your tickets.<br /><br />An email will be sent to your address regarding the details of your reservation."
end

%>
<div id='response' class='article'><%= message %><!-- <%= params.inspect %> --><div id='ticketrezid' style='display:none;'><%= @ticketrez.id %></div><div id='sendemail' style='display:none;'><%= @sendemail %></div><div id='highlight' style='display:none;'><%= @errors %></div></div>