<!--
Where do error messages go?
What about multiple sections?
Can I AJAX it? If so, where would the page redirect?
How does it know the show is for Carnival? Homecoming? Festival?
-->

<div class='article'>
  <% form_for(@ticketrez, :url => "/tickets/createticketrez") do |f| %>
    <div id='ticketsleft' class='articleleft fleft'>
      <h1>Your Information</h1>
      <%= f.error_messages %>
      <p>
        <%= f.hidden_field :showid, :value => @show.abbrev %>
      </p>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :phone %><br />
        <%= f.text_field :phone %>
      </p>
      <p>
        <%= f.label :hasid %><br />
        <%= f.check_box :hasid %>
      </p>
      <p>
        <%= f.submit 'Create' %>
      </p>
    </div>
    <div id='ticketsright' class='articleright fleft'>
      <h1>Ticket Reservations</h1>
      <% unless @show.housemanname.blank? %>Questions? Contact House Manager <%= link_to @show.housemanname, "mailto:#{@show.housemanemail}" %>.<br /><% end %>
      Use this form to reserve your tickets for Scotch'n'Soda's production of <b><%= @show.name %></b>, showing <%= @show.datetickets %> in <%= @show.loc %>. You will be able to pay and pick them up 30 minutes before showtime outside of the performance space.<br />
      <br />
      If tickets to your preffered show or section are sold out online, please try at the door 45 minutes before showtime; additional tickets will be available there<br />
      <br />
      Notes: <% unless @show.ticketnotes.blank? %><%= @show.ticketnotes %> <% end %><%= @show.sectioninfo %><br />
      <br />
      <h2>Select Dates, Sections, and Quantities</h2>
      for each performance<br />
      &nbsp;&nbsp;put a box for quantity<br />
      &nbsp;&nbsp;if there's more than one section put a dropdown<br />
      &nbsp;&nbsp;put performance info<br />
      &nbsp;&nbsp;if the performance is sold out disable the inputs and grey out the text<br />
      &nbsp;&nbsp;load all this into js for updateprice and ajaxhandler<br />
    </div>
  <% end %>
  <br clear='all' />
</div>