<% ast = "<span style='color:#ff9900'>*</span>" %>
<div style='display:none;'><div id='ajaxresp'></div><div id='ajaxloading'><h1>Just a moment...</h1></div></div>
<% form_for(@ticketrez, :url => {:action => "create"}) do |f| %>
  <div class='article'>
      <div id='ticketsleft' class='articleleft fleft'>
        <h1>Your Information</h1>
        <%= hidden_field :form, :backto, :value => @show.abbrev %>
        <%= f.hidden_field :showid, :value => @show.abbrev %>
        <%= ast %>All fields required.<br />
        <br />
        <b><%= f.label :name %></b><br />
        <%= f.text_field :name, :size => 20 %><br />
        <br />
        <b><%= f.label :email, "Email Address" %></b> (for receipt of reservation)<br />
        <%= f.text_field :email, :size => 20 %><br />
        <b><%= f.label :emailconfirm, "Retype Email Address" %></b><br />
        <%= f.text_field :emailconfirm, :size => 20 %><br />
        <br />
        Do you have a <b>Carnegie Mellon Student ID</b>?<br />
        <div id='form_id' class='fleft'>
        <%= f.radio_button :hasid, "true", {:onchange => "updateprice()"} %>Yes<br />
        <%= f.radio_button :hasid, "false", {:onchange => "updateprice()"} %>No
        </div>
        <br clear="all" />
      </div>
      <div id='ticketsright' class='articleright fleft'>
        <h1>Ticket Reservations</h1>
        <% unless @show.housemanname.blank? %><span style='font-size:8pt;'>Questions? Contact House Manager <%= link_to @show.housemanname, "mailto:#{@show.housemanemail}" %>.</span><br /><% end %>
        <br />
        Use this form to reserve your tickets for Scotch'n'Soda's <%= @show.slot %> <%= Time.now.year %> production of <b><%= @show.name %></b>, showing <%= @show.datetickets %> in <%= @show.loc %>. You will be able to pay and pick them up 30 minutes before showtime outside of the performance space.<br />
        <br />
        If tickets to your preferred show or section are sold out online, please try at the door 45 minutes before showtime; additional tickets will be available there.<br />
        <br />
        <h2>Notes</h2>
        <% unless @show.ticketnotes.blank? %><%= @show.ticketnotes %><br /><% end %><%= @show.sectioninfo %><br />
        <br />
        <h2>Select Dates, Sections and Quantities</h2><br />
        <div id='form_quantities'>
        <script type='text/javascript'>
          numperformances = <%= @show.performancetimes.split("|").count %>
          tickets = new Array(<%= @ticketsections.size %>)
          sections = new Array(<%= @ticketsections.size %>)
          <% sectionNum=0
          for section in @ticketsections %>
            tickets[<%= sectionNum %>] = new Array(numperformances)
            <% perfNum=0
            for performance in @show.performancetimes.split("|")
              %>tickets[<%= sectionNum %>][<%= perfNum %>] = <%= section.numavailable(performance) %>
              <% perfNum=perfNum+1
            end %>
            sections[<%= sectionNum %>] = new Array(4)
            sections[<%= sectionNum %>]["id"] = "<%= section.id %>"
            sections[<%= sectionNum %>]["name"] = "<%= section.name %>"
            sections[<%= sectionNum %>]["pricewithid"] = <%= section.pricewithid %>
            sections[<%= sectionNum %>]["pricewoutid"] = <%= section.pricewoutid %>
            <% sectionNum=sectionNum+1
          end %>
          jQuery(document).ready(function(){
            if (jQuery("#ticketsleft").height() > jQuery("#ticketsright").height())
              jQuery("#ticketsright").height(jQuery("#ticketsleft").height())
            else
              jQuery("#ticketsleft").height(jQuery("#ticketsright").height())
          })
        </script>
        <% perfNum=0
        for perf in @show.performancetimes.split("|")
          soldout = @show.soldout(perf)
          performance = hidden_field(:form, "performance[#{perfNum}]", :value => perf)
          quantity = text_field(:form, "quantity[#{perfNum}]", {:onchange => "updateprice()", :size => "3"}) unless soldout
          quantity = text_field(:form, "quantity[#{perfNum}]", {:onchange => "updateprice()", :size => "3", :disabled => true}) if soldout
          if @ticketsections.count > 1
            #only put sections that are available
            sections = select(:form, "section[#{perfNum}]", @ticketsections.map {|t| [t.name, t.id]}, {}, {:onchange => "updateprice()"}) unless soldout
            sections = select(:form, "section[#{perfNum}]", @ticketsections.map {|t| [t.name, t.id]}, {}, {:onchange => "updateprice()", :disabled => true}) if soldout
          else
            sections = hidden_field(:form, "section[#{perfNum}]", :value => @ticketsections[0].id)
          end
          time = DateTime.parse(perf).strftime("%A, %B %d @ ").to_s
          time += DateTime.parse(perf).strftime("%I").to_i.to_s
          time += (DateTime.parse(perf).strftime("%p")=="PM")? ("p."):("a.")
          num = @show.ticketsavailable(perf)
          num = "Sold out" if soldout
          time = "<b>#{time}</b> (<span id='form_availableinfo[#{perfNum}]'>#{num}</span>)"
          time = "<span style='color:#999999;'>#{time}</span>" if soldout
          %>
          <%= performance %>
          <%= quantity %>
          <%= sections %>
          <%= time %><br />
          <%
          perfNum=perfNum+1
        end %>
        </div>
        
        <br />
        You've selected <b><span id='numtickets'>0</span></b> tickets, for a total of <b>$<span id='pricetickets'>0</span></b>, to be paid for at the door. If this is correct, click the button below to confirm your reservation.<br />
        <br />
        <center><%= f.submit "Reserve!", :onclick=>"return reservetickets()" %></center>
      </div>
    <br clear='all' />
  </div>
<% end %>