<!--
Where do error messages go?
What about multiple sections?
Can I AJAX it? If so, where would the page redirect?
How does it know the show is for Carnival? Homecoming? Festival?
How does it count tckets left for shows with multiple sections?
-->

<div class='article'>
  <% form_for(@ticketrez, :url => "/tickets/createticketrez") do |f| %>
    <div id='ticketsleft' class='articleleft fleft'>
      <h1>Your Information</h1>
      <%= f.error_messages %>
      <p>
        <%= f.hidden_field :showid, :value => @show.abbrev %>
      </p>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :phone %><br />
        <%= f.text_field :phone %>
      </p>
      <p>
        <%= f.label :hasid %><br />
        <%= f.check_box :hasid %>
      </p>
      <p>
        <%= f.submit 'Create' %>
      </p>
    </div>
    <div id='ticketsright' class='articleright fleft'>
      <h1>Ticket Reservations</h1>
      <% unless @show.housemanname.blank? %>Questions? Contact House Manager <%= link_to @show.housemanname, "mailto:#{@show.housemanemail}" %>.<br /><% end %>
      Use this form to reserve your tickets for Scotch'n'Soda's production of <b><%= @show.name %></b>, showing <%= @show.datetickets %> in <%= @show.loc %>. You will be able to pay and pick them up 30 minutes before showtime outside of the performance space.<br />
      <br />
      If tickets to your preffered show or section are sold out online, please try at the door 45 minutes before showtime; additional tickets will be available there<br />
      <br />
      Notes: <% unless @show.ticketnotes.blank? %><%= @show.ticketnotes %> <% end %><%= @show.sectioninfo %><br />
      <br />
      <h2>Select Dates, Sections, and Quantities</h2>
      <% i=0
      for perf in @show.performancetimes.split("|")
        soldout = @show.soldout(perf)
        quantity = text_field(nil, "performance[#{i}]")
        quantity = text_field(nil, "performance[#{i}]", :disabled => true) if soldout
        if @ticketsections.count > 1
          #only put sections that are available
          sections = select(nil, "section[#{i}]", @ticketsections.map {|t| [t.name, t.id]})
          sections = select(nil, "section[#{i}]", @ticketsections.map {|t| [t.name, t.id]}, :html_options => {:disabled => "true"}) if soldout
        end
        time = DateTime.parse(perf).strftime("%A, %B %d @ ").to_s
        time += DateTime.parse(perf).strftime("%I").to_i.to_s
        time += (DateTime.parse(perf).strftime("%p")=="PM")? ("p."):("a.")
        num = @show.ticketsavailable(perf).to_s+" left"
        num = "Sold out" if soldout
        time = "<b>#{time}</b> (#{num})"
        time = "<span style='color:#999999;'>#{time}</span>" if soldout
        %><%= quantity %><%= sections %> <%= time %><%
        ++i
      end %>
      <%= hidden_field nil, "numperformances", :value => i %>
      <br />
      &nbsp;&nbsp;load all this into js for updateprice and ajaxhandler<br />
    </div>
  <% end %>
  <br clear='all' />
</div>