<script type='text/javascript'>
  $(document).ready(function(){
    $("a[rel='seatingmap']").colorbox({transition:"none",opacity:"0.3",initialWidth:300,initialHeight:300,maxWidth:300,maxHeight:300})
  })
</script>
<% ast = "<span style='color:#ff9900'>*</span>" %>

<% if @errors.length > 0 %>
<div class='article'>
  <h1>Oh No!</h1>
  Some things went wrong with your reservation. We highlighted the invalid fields below.
</div>
<% end %>

<%= form_for(@ticketrez, :url => {:action => "create"}) do |f| %>
  <div class='article'>
    <div class='tickets-split'>
      <div id='ticketsleft' class='tickets-left'>
        <h1>Your Information</h1>
        <%= f.hidden_field :show_id, :value => @show.id %>
        <%= ast.html_safe %>All fields required.<br />
        <br />
        <b><%= f.label :name %></b><br />
        <%= f.text_field :name, :size => 20, :style => (@errors.include? "name")? ("border:1px solid #f90"):("") %><br />
        <br />
        <b><%= f.label :email, "Email Address" %></b> (for receipt of reservation)<br />
        <%= f.text_field :email, :size => 20, :style => (@errors.include? "email")? ("border:1px solid #f90"):("") %><br />
        <b><%= f.label :emailconfirm, "Retype Email Address" %></b><br />
        <%= f.text_field :emailconfirm, :size => 20, :style => (@errors.include? "email")? ("border:1px solid #f90"):("") %><br />
        <br />
        Do you have a <b>Carnegie Mellon Student ID</b>?<br />
        <div id='form_id' class='fleft'<%= (@errors.include? "hasid")? (" style='border:1px solid #f90'"):("") %>>
        <%= f.radio_button :hasid, "true", {:onchange => "updateprice()"} %>Yes<br />
        <%= f.radio_button :hasid, "false", {:onchange => "updateprice()"} %>No
        </div>
        <div class='clearfix'></div>
      </div>
      <div id='ticketsright' class='tickets-right'>
        <h1>Ticket Reservations</h1>
        <% unless @show.housemanname.blank? or @show.housemanemail.blank? %><span style='font-size:8pt;'>Questions? Contact House Manager <%= link_to @show.housemanname, "mailto:#{@show.housemanemail}" %>.</span><br /><% end %>
        <br />
        Use this form to reserve your tickets for Scotch'n'Soda's <%= @show.slot %> <%= Time.now.year %> production of <b><%= @show.name %></b>, showing in <%= @show.loc %>. You will be able to pay and pick them up 30 minutes before showtime outside of the performance space.<br />
        <br />
        If tickets to your preferred show or section are sold out online, please try at the door 45 minutes before showtime; additional tickets will be available there.<br />
        <br />
        <h2>Notes</h2>
        <% unless @show.ticketnotes.blank? %><%= @show.ticketnotes %><br /><% end %>
        <% if @show.ticketsections.size == 0 %>
          The ticket sections for this show have not been set up yet.
        <% elsif @show.ticketsections.size == 1 %>
          This show has one general admission section: $<%= @show.ticketsections[0].pricewithid %> with a Carnegie Mellon student ID, $<%= @show.ticketsections[0].pricewoutid %> without.
        <% else %>
          This show has multiple seating sections:
          <% if !@show.seatingmap.nil? and !@show.seatingmap.blank? %>
             (<a href='http://upload.snstheatre.org/gin/shows/seatingmaps/<%= @show.seatingmap %>' rel='seatingmap' class='cboxElement'>view seating map</a>)
          <% end %>
          <br />
          <% full = true
          for section in @show.ticketsections %>
            Section <%= section.name %> &#8212; $<%= section.pricewithid %> with
            <% if full %>
              a Carnegie Mellon student
              <% full = false %>
            <% end %>
            ID and $<%= section.pricewoutid %> without<br />
          <% end %>
        <% end %>
        <br />
        <h2>Select Dates, Sections and Quantities</h2><br />
        <div id='form_quantities'>
        <script type='text/javascript'>
          numperformances = <%= @show.performancetimes.split("|").count %>
          tickets = new Array(<%= @ticketsections.size %>)
          sections = new Array(<%= @ticketsections.size %>)
          <% sectionNum=0
          for section in @ticketsections %>
            tickets[<%= sectionNum %>] = new Array(numperformances)
            <% perfNum=0
            for performance in @show.performancetimes.split("|")
              %>tickets[<%= sectionNum %>][<%= perfNum %>] = <%= section.numavailable(performance) %>
              <% perfNum=perfNum+1
            end %>
            sections[<%= sectionNum %>] = new Array(4)
            sections[<%= sectionNum %>]["id"] = "<%= section.id %>"
            sections[<%= sectionNum %>]["name"] = "<%= section.name %>"
            sections[<%= sectionNum %>]["pricewithid"] = <%= section.pricewithid %>
            sections[<%= sectionNum %>]["pricewoutid"] = <%= section.pricewoutid %>
            <% sectionNum=sectionNum+1
          end %>
          $(document).ready(function(){
            $("#staticInfo").hide()
            $("#dynamicInfo").show()
          })
        </script>
        <% perfNum=0
        for perf in @show.performancetimes.split("|")
          soldout = @show.soldout(perf)
          performance = hidden_field(:form, "performance[#{perfNum}]", :value => perf)
          quantity = text_field(:form, "quantity[#{perfNum}]", {:onchange => "updateprice()", :size => "3", :style => (@errors.include? "quantity")? ("border: 1px solid #f90;"):("")}) unless soldout
          quantity = text_field(:form, "quantity[#{perfNum}]", {:onchange => "updateprice()", :size => "3", :disabled => true}) if soldout
          if @ticketsections.count > 1
            #only put sections that are available
            sections = select(:form, "section[#{perfNum}]", @ticketsections.map {|t| [t.name, t.id]}, {}, {:onchange => "updateprice()"}) unless soldout
            sections = select(:form, "section[#{perfNum}]", @ticketsections.map {|t| [t.name, t.id]}, {}, {:onchange => "updateprice()", :disabled => true}) if soldout
          else
            sections = hidden_field(:form, "section[#{perfNum}]", :value => @ticketsections[0].id)
          end
          time = DateTime.parse(perf).strftime("%A, %B %d @ ").to_s
          time += DateTime.parse(perf).strftime("%I:%M").to_i.to_s
          time += (DateTime.parse(perf).strftime("%p")=="PM")? ("p."):("a.")
          num = ''
          @show.ticketsections.each do |section|
            num = ((num.blank?)? "":("#{num} | "))
            num += ((@show.ticketsections.count > 1)? "#{section.name}: ":(""))
            num += "#{section.numavailable(perf)} left"
          end
          num = "Sold out" if soldout
          time = "<b>#{time}</b> (<span id='form_availableinfo[#{perfNum}]'>#{num}</span>)"
          time = "<span style='color:#999999;'>#{time}</span>" if soldout
          %>
          <%= performance %>
          <%= quantity %>
          <%= sections %>
          <%= time.html_safe %><br />
          <%
          perfNum=perfNum+1
        end %>
        </div>
        <div id='dynamicInfo' style='display:none'>
          <br />
          You've selected <b><span id='numtickets'>0</span></b> tickets, for a total of <b>$<span id='pricetickets'>0</span></b>, to be paid for at the door. If this is correct, click the button below to confirm your reservation.<br />
        </div>
        <div id='staticInfo'>
          <br />Once everything looks correct, click the button below to confirm your reservation.<br />
        </div>
        <br />
        <div style='text-align:center;'><%= f.submit "Reserve!" %></div>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
<% end %>
