<h1>Editing roleassoc</h1>

<% form_for(@roleassoc) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :roleid %><br />
    <%= f.select(:roleid, Role.all.map{|r| [r.rname, r.rabbrev]}) %>
  </p>
  <p>
    <%= f.label :userid %><br />
    <%= f.select(:userid, User.all.map{|u| [u.name, u.name]}) %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @roleassoc %> |
<%= link_to 'Back', users_path %>