<h1>New roleassoc</h1>

<% form_for(@roleassoc) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :role_id %><br />
    <%= f.select(:role_id, Role.all.map{|r| [r.rname, r.id]}) %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.select(:user_id, User.all.map{|u| [u.name, u.id]}) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>