<h1>Listing updates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Anchor</th>
    <th>Expiredate</th>
    <th>Article</th>
  </tr>
<%
trclass = "class='zebra'"
@updates.each do |update|
  if trclass=="class='zebra'"
    trclass = ""
  else
    trclass = "class='zebra'"
  end
%>
  <tr <%= trclass %>>
    <td><%=h update.name %></td>
    <td><%=h update.anchor %></td>
    <td><%=h update.expiredate %></td>
    <td><%=h !update.article.blank? %></td>
    <td><%= link_to 'Show', update %></td>
    <% if can? :update, Update %><td><%= link_to 'Edit', edit_update_path(update) %></td><% end %>
    <% if can? :destroy, Update %><td><%= link_to 'Destroy', update, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :update, Update %><%= link_to 'New update', new_update_path %><% end %>
