<h1>Listing updates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Anchor</th>
    <th>Expiredate</th>
    <th>Article</th>
  </tr>

<%
color = true
@updates.each do |update|
	if color
		color = false
		style = " style=\"background-color:\#bbbbbb;\""
	else
		color = true
		style = " style=\"background-color:\#dddddd;\""
	end
%>
  <tr <%= style %>>
    <td class='admintd'><%=h update.name %></td>
    <td class='admintd'><%=h update.anchor %></td>
    <td class='admintd'><%=h update.expiredate %></td>
    <td class='admintd'><%=h !update.article.blank? %></td>
    <td class='admintd'><%= link_to 'Show', update %></td>
    <td class='admintd'><%= link_to 'Edit', edit_update_path(update) %></td>
    <td class='admintd'><%= link_to 'Destroy', update, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New update', new_update_path %>