<h1>Editing role</h1>

<% form_for(@role) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :rname,"Name" %><br />
    <%= f.text_field :rname %>
  </p>
  <p>
    <%= f.label :rabbrev,"Abbrev" %><br />
    <%= f.text_field :rabbrev %>
  </p>
  <p>
    <%= f.label :rcontents,"Contents" %><br />
    <%= f.text_field :rcontents %>
  </p>
  <p>
    <%= f.label :rupdates,"Updates" %><br />
    <%= f.text_field :rupdates %>
  </p>
  <p>
    <%= f.label :rusers,"Users" %><br />
    <%= f.text_field :rusers %>
  </p>
  <p>
    <%= f.label :rroleassocs,"Roleassocs" %><br />
    <%= f.text_field :rroleassocs %>
  </p>
  <p>
    <%= f.label :rroles,"Roles" %><br />
    <%= f.text_field :rroles %>
  </p>
  <p>
	  <%= f.label :rshows,"Shows" %><br />
	  <%= f.text_field :rshows %>
  </p>
  <p>
	  <%= f.label :rticketalerts,"Ticketalerts" %><br />
	  <%= f.text_field :rticketalerts %>
  </p>
  <p>
	  <%= f.label :rticketrezs,"Ticketrezs" %><br />
	  <%= f.text_field :rticketrezs %>
  </p>
  <p>
	  <%= f.label :rticketsections,"Ticketsections" %><br />
	  <%= f.text_field :rticketsections %>
  </p>
  <p>
	  <%= f.label :rrezlineitems,"Rezlineitems" %><br />
    <%= f.text_field :rrezlineitems %>
  </p>
  <p>
    <%= f.label :rboxoffice,"Boxoffice" %><br />
    <%= f.text_field :rboxoffice %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Show', @role %> |
<%= link_to 'Back', users_path %>