<h1>New role</h1>

<% form_for(@role) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :abbrev %><br />
    <%= f.text_field :abbrev %>
  </p>
  <p>
	<%= f.label :rcontents %><br />
	<%= f.text_field :rcontents %>
  </p>
  <p>
	<%= f.label :rupdates %><br />
	<%= f.text_field :rupdates %>
  </p>
  <p>
	<%= f.label :rusers %><br />
	<%= f.text_field :rusers %>
  </p>
  <p>
	<%= f.label :rroleassocs %><br />
	<%= f.text_field :rroleassocs %>
  </p>
  <p>
	<%= f.label :rroles %><br />
	<%= f.text_field :rroles %>
  </p>
  <p>
	<%= f.label :rshows %><br />
	<%= f.text_field :rshows %>
  </p>
  <p>
	<%= f.label :rticketalerts %><br />
	<%= f.text_field :rticketalerts %>
  </p>
  <p>
	<%= f.label :rticketrezs %><br />
	<%= f.text_field :rticketrezs %>
  </p>
  <p>
	<%= f.label :rticketsections %><br />
	<%= f.text_field :rticketsections %>
  </p>
  <p>
	<%= f.label :rrezlineitems %><br />
	<%= f.text_field :rrezlineitems %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>