<p>
  <b>Name:</b>
  <%=h @role.rname %>
</p>

<p>
  <b>Abbrev:</b>
  <%=h @role.rabbrev %>
</p>

<p>
  <b>Contents:</b>
  <%=h @role.rcontents %>
</p>

<p>
  <b>Updates:</b>
  <%=h @role.rupdates %>
</p>

<p>
  <b>Users:</b>
  <%=h @role.rusers %>
</p>

<p>
  <b>Roles:</b>
  <%=h @role.rroles %>
</p>

<p>
  <b>Roleassocs:</b>
  <%=h @role.rroleassocs %>
</p>

<p>
  <b>Shows:</b>
  <%=h @role.rshows %>
</p>

<p>
  <b>Ticketalerts:</b>
  <%=h @role.rticketalerts %>
</p>

<p>
  <b>Ticketrezs:</b>
  <%=h @role.rticketrezs %>
</p>

<p>
  <b>Ticketsections:</b>
  <%=h @role.rticketsections %>
</p>

<p>
  <b>Rezlineitems:</b>
  <%=h @role.rrezlineitems %>
</p>

<p>
  <b>Boxoffice:</b>
  <%=h @role.rboxoffice %>
</p>

<% if User.find(session[:user_id]).hasaccess("roles", "update") %><%= link_to 'Edit', edit_role_path(@role) %> |<% end %>
<%= link_to 'Back', users_path %>