<h1>Editing post</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :topicid %><br />
    <%= f.text_field :topicid %>
  </p>
  <p>
    <%= f.label :article %><br />
    <%= f.text_area :article %>
  </p>
  <p>
    <%= f.label :creatorid %><br />
    <%= f.text_field :creatorid %>
  </p>
  <p>
    <%= f.label :replyto %><br />
    <%= f.text_field :replyto %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>