<% ast = "<span style=\"color:red;font-variant:italics;\">*</span>" %>
<h1>Editing pane</h1>

<% form_for(@pane) do |f| %>
  <%= f.error_messages %>

  <p style="color:red;font-variant:italics;">
	* Required
  </p>

  <p>
    <%= f.label :title %><%= ast %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :menutitle, "Menubar title" %><br />
    <%= f.text_field :menutitle %>
  </p>
  <p>
    <%= f.label :anchor %><%= ast %><br />
    <%= f.text_field :anchor, {:disabled => true} %>
  </p>
  <p>
    <%= f.label :publish, "Publish on site" %><br />
    <%= f.check_box :publish %>
  </p>
  <p>
    <%= f.label :hidden, "Hidden from menubar" %><br />
    <%= f.check_box :hidden %>
  </p>
  <p>
    <%= f.label :hasmenu, "Has a menu" %><br />
    <%= f.check_box :hasmenu %>
  </p>
  <p>
    <%= f.label :order, "Order in menubar" %><%= ast %><br />
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.label :panetype, "Pane type" %><%= ast %><br />
	<%= f.select("panetype", {"Pane","pane","Link","link"}) %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pane %> |
<%= link_to 'Back', panes_path %>