<h1>Listing panes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Menutitle</th>
    <th>Anchor</th>
    <th>Publish</th>
    <th>Hidden</th>
    <th>Hasmenu</th>
    <th>Order</th>
    <th>Panetype</th>
  </tr>

<%
color = true
@panes.each do |pane|
	if color
		color = false
		style = " style=\"background-color:\#bbbbbb;\""
	else
		color = true
		style = " style=\"background-color:\#dddddd;\""
	end
%>
  <tr <%= style %>>
    <td class='admintd'><%=h pane.title %></td>
    <td class='admintd'><%=h pane.menutitle %></td>
    <td class='admintd'><%=h pane.anchor %></td>
    <td class='admintd'><%=h pane.publish %></td>
    <td class='admintd'><%=h pane.hidden %></td>
    <td class='admintd'><%=h pane.hasmenu %></td>
    <td class='admintd'><%=h pane.order %></td>
    <td class='admintd'><%=h pane.panetype %></td>
    <td class='admintd'><%= link_to 'Show', pane %></td>
    <% if session[:crud]["u"]["panes"] %><td class='admintd'><%= link_to 'Edit', edit_pane_path(pane) %></td><% end %>
    <% if session[:crud]["d"]["panes"] %><td class='admintd'><%= link_to 'Destroy', pane, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />

<% if session[:crud]["c"]["panes"] %><%= link_to 'New pane', new_pane_path %><% end %>