<h1>Editing log</h1>

<% form_for(@log) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :who %><br />
    <%= f.text_field :who %>
  </p>
  <p>
    <%= f.label :what %><br />
    <%= f.text_field :what %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @log %> |
<%= link_to 'Back', logs_path %>