<!DOCTYPE html>
<html lang="en">
<head>
	<title>Scotch'n'Soda Theatre</title>
	<meta charset='utf-8' />
	<%= stylesheet_link_tag "snstheatre", "admin", "colorbox", :media => "all" %>
	<%= javascript_include_tag :defaults, "jquery-1.4.1.min.js", "jquery.colorbox-min" %>
	<script type='text/javascript'>jQuery.noConflict();</script>
</head>
<body>
  <div id='banner'></div>
  <div id='container'>
    <div id='header'>
      <h1><a href='/'>Scotch&#146;n&#146;Soda Theatre</a></h1>
      <h2>Student theatre at Carnegie Mellon since 1938</h2>
    </div>
    <div id='nav' class='botcorner shadow'>
      <div id='menu'>
        <ul><li><%= link_to "Welcome", {:controller => "admin"} %></li>
      	<% if !session[:user_permissions].nil? and session[:user_permissions]["shows"]["r"] %><li><%= link_to "Shows & Tickets", shows_path %></li><% end %>
      	<% if !session[:user_permissions].nil? and session[:user_permissions]["boxoffice"]["r"] %><li><%= link_to "Box Office", {:controller => "boxoffice"} %></li><% end %>
      	<% if !session[:user_permissions].nil? and session[:user_permissions]["updates"]["r"] %><li><%= link_to "News", updates_path %></li><% end %>
      	<% if !session[:user_permissions].nil? and session[:user_permissions]["contents"]["r"] %><li><%= link_to "Contents", contents_path %></li><% end %>
      	<% if !session[:user_permissions].nil? and session[:user_permissions]["users"]["r"] %><li><%= link_to "Users & Roles", users_path %></li><% end %>
      	<li><%= link_to 'Log out', {:controller => "admin", :action => "logout"} %></li>
      	<script type='text/javascript'>
          //TODO jQuery(".menua").css("width",(900/jQuery(".menua").size())+"px");
      	</script>
      </div>
    </div>
    <div id='view'>
      <% if flash[:notice] %>
      <div class='article'><%= flash[:notice] %></div>
      <% end %>
      <div class='article'><%= yield %></div>
    </div>
    <div id='footer' class='topcorner shadow'>
      flavortext
    </div>
  </div>
  <div id='bodyfooter'>
  </div>
</body>
</html>
