<!DOCTYPE html>
<html lang="en">
<head>
	<title>Scotch'n'Soda Theatre</title>
	<meta charset='utf-8' />
	<%= stylesheet_link_tag "snstheatre", "newui", "admin", "colorbox", :media => "all" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
	<style type='text/css'>
	  #container { margin: 0 auto -26px; }
	  #push { height: 26px; }
	</style>
</head>
<body>
  <div id='banner'></div>
  <div id='container'>
    <div id='header'>
      <h1><a href='/'>Scotch&#146;n&#146;Soda Theatre</a></h1>
      <h2>Student theatre at Carnegie Mellon since 1938</h2>
    </div>
    <div id='nav' class='bottomcorner shadow'>
      <div id='menu'>
        <ul><li><%= link_to "Welcome", {:controller => "admin"} %></li>
      	<% if can? :read, Show %><li><%= link_to "Shows & Tickets", shows_path %></li><% end %>
      	<% if can? :read, Show, Ticketsection, Ticketrez, Rezlineitem %><li><%= link_to "Box Office", {:controller => "boxoffice"} %></li><% end %>
      	<% if can? :read, Update %><li><%= link_to "News", updates_path %></li><% end %>
      	<% if can? :read, Content %><li><%= link_to "Contents", contents_path %></li><% end %>
      	<% if can? :read, User %><li><%= link_to "Users & Roles", users_path %></li><% end %>
      	<li><%= link_to 'Log out', {:controller => "admin", :action => "logout"} %></li>
      </div>
    </div>
    <div id='view'>
      <% if flash[:notice] %>
      <div class='article'><%= flash[:notice].html_safe %></div>
      <% end %>
      <div class='article'><%= yield %></div>
    </div>
    <div id='push'></div>
  </div>
  <div id='bodyfooter'>
  </div>
</body>
</html>
