<!DOCTYPE html>
<html lang="en">
<head>
	<title>Scotch'n'Soda Theatre</title>
	<meta charset='utf-8' />
	<%= stylesheet_link_tag "snstheatre", "carousel", :media => "all" %>
	<%= javascript_include_tag :defaults, "jquery-1.4.1.min" %>
	<% if action_name == "index" %>
    <%= javascript_include_tag "carousel", "twitter" %>
	<% end %>
	<% if controller_name == "tickets" %>
	 <%= javascript_include_tag "tickets" %>
	<% end %>
	<script type='text/javascript'>
    jQuery.noConflict();
    <% if action_name == "index" %>
    jQuery(document).ready(function(){
      // carousel
      jQuery('#carouselitemscontainer')[0].style.width = (jQuery('#carouselitemscontainer > div').size() * 511) + "px";
      jQuery('#carousellinkscontainer')[0].style.width = (jQuery('#carousellinkscontainer > div').size() * 165) + "px";
      navright = 0;
      navmin = (jQuery('#carousellinkscontainer > div').size()-2) * -165;
      var i;
      for (i=0; i<jQuery('#carouselitemscontainer > div').size(); i++)
        if (jQuery('#carouselitemscontainer > div')[i].id == "carouselitem_<%= @activeshow.abbrev %>")
          break;
      var x = (jQuery("#carouselitemscontainer > div").size()-i-1)*-511;
      var y = x+"px";
      jQuery("#carouselitemscontainer").css('right',y);
      
      // noscript
      jQuery("#twitbird").show();
      
      // twitter UI
      window.onresize = checkWidth;
      loadTweets();
    });
    <% end %>
	</script>
</head>
<body>
  <div id='bannernocss3'></div>
  <div id='banner'></div>
  <div id='container'>
    <div id='header'><h1><a href='/'>Scotch&#146;n&#146;Soda Theatre</a></h1><h2>Student theatre at Carnegie Mellon since 1938</h2></div>
    <div id='nav' class='botcorner shadow'>
      <%
      classabout = (params[:id] == "about")? "class='navselected'":""
      class70ai = (params[:id] == "70ai")? "class='navselected'":""
      classnews = (action_name == "news")? "class='navselected'":""
      %>
      <div id='menu'>
        <ul>
          <li><%= link_to "Ticket<br />Reservations", "/tickets", {:class => "menua"} %></li>
          <li <%= classabout %>><%= link_to "About Us", {:controller => "index", :action => "showpane", :id => "about"}, { :class => "menua" } %> </li>
          <li <%= class70ai %>><%= link_to "70th Anniversary<br />Initiative", {:controller => "index", :action => "showpane", :id => "70ai"}, { :class => "menua" } %></li>
          <li><%= link_to "The No Parking<br />Players", "http://npp.snstheatre.org", {:target => "_blank", :class => "menua"} %></li>
        </ul>
      </div>
    </div>
    <script type='text/javascript'>
      jQuery(".menua").css("width",(900/jQuery(".menua").size())+"px")
      jQuery(".menua").first().addClass("bottomleftcorner");
      jQuery(".menua").last().addClass("bottomrightcorner");
      jQuery("#menu li").first().addClass("bottomleftcorner");
      jQuery("#menu li").last().addClass("bottomrightcorner");
    </script>
    <div id='view'>
      <!--[if IE]><div class='article' style='text-align:center;'>It looks like you're viewing this page with Internet Explorer. May I suggest you try <a href='http://www.mozilla.com/en-US/firefox/firefox.html' target='_blank'>Mozilla Firefox</a> instead?</div><![endif]-->
      <noscript><div class='article' style='text-align:center;'>It looks like your browser has Javascript turned off. If you want this page to render properly go to your browser's settings and turn Javascript on.</div></noscript>
      <%= yield %>
    </div>
    <div id='footer' class='topcorner shadow'>&copy; 2010 Scotch'n'Soda Theatre at <b>Carnegie Mellon University</b><br />5000 Forbes Avenue, UC Suite 103 Box 57, Pittsburgh, PA 15213<br /><a href='mailto:board@snstheatre.org'>board@snstheatre.org</a> | <a href='mailto:webmaster@snstheatre.org'>webmaster@snstheatre.org</a></div>
  </div>
  <div id='bodyfooter'>
    <% if action_name == "index" %>
    <div id='twitter_update_list' class='twittercallout'><div id='twittertext'></div><div class='twitterstem'></div></div>
    <div id='twitter_heyclickme' class='twittercallout'>Click for tweets!<div class='twitterstem'></div></div>
    <div id='twitbird' onmouseover='showClickme()' onmouseout='hideClickme()' onclick='showTwitter()'></div>
    <% end %>
    <div id='bodyfootertext'>
      <span class='fleft br'><a href='http://twitter.com/snstheatre' target='_blank'><span style='font-weight:normal;padding:0px;margin:0px;'>Follow us on </span>Twitter</a></span>
      <span class='fleft bl'><a href='http://www.facebook.com/advertising/?pages#/pages/ScotchnSoda-Theatre/27084790350?ref=ts' target='_blank'><span style='font-weight:normal;padding:0px;margin:0px;'>Become a fan on </span>Facebook</a></span>
      <span id='sendemail' class='fright'><a href='mailto:webmaster@snstheatre.org'><span style='font-weight:normal;padding:0px;margin:0px;'>Send us an </span>Email</a></span>
    </div>
  </div>
  <% unless session[:user_id].nil? || session[:user_id].blank? %>
    <div id='admin'>
      <a id='adminbutton' href='/admin'>ADMIN</a>
    </div>
  <% end %>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9104858-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>