<!DOCTYPE html>
<html lang="en">
<head>
	<title>Scotch'n'Soda Theatre</title>
	<meta charset='utf-8' />
	<%= stylesheet_link_tag "snstheatre", "carousel", "colorbox", :media => "all" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
	<script type='text/javascript'>
    <% if action_name == "index" %>
    $(document).ready(function(){
      // carousel
      $('#carouselitemscontainer')[0].style.width = ($('#carouselitemscontainer > div').size() * 511) + "px";
      $('#carousellinkscontainer')[0].style.width = ($('#carousellinkscontainer > div').size() * 165) + "px";
      navright = 0;
      navmin = ($('#carousellinkscontainer > div').size()-2) * -165;
      var i;
      for (i=0; i<$('#carouselitemscontainer > div').size(); i++)
        if (<%= !@activeshow.nil? %> && $('#carouselitemscontainer > div')[i].id == "carouselitem_<%= ((!@activeshow.nil?)? (@activeshow.abbrev):("")) %>")
          break;
      <% if @activeshow.nil? %>
      i--;
      <% end %>
      var x = ($("#carouselitemscontainer > div").size()-i-1)*-511;
      var y = x+"px";
      $("#carouselitemscontainer").css('right',y);
      
      // noscript
      $("#twitbird").show();
      
      // twitter UI
      window.onresize = checkWidth;
      loadTweets();
    });
    <% end %>
	</script>
</head>
<body>
  <div id='container'>
    <div id='header'><h1><a href='/'>Scotch&#146;n&#146;Soda Theatre</a></h1><h2>Student theatre at Carnegie Mellon since 1938</h2></div>
    <div id='nav' class='botcorner shadow'>
      <div id='menu'>
        <ul>
          <li><%= link_to "Ticket<br>Reservations".html_safe, "/tickets" %></li>
          <li><%= link_to "About Us", '/about' %> </li>
          <li><%= link_to "70th Anniversary<br>Initiative".html_safe, '/initiative' %></li>
          <li><%= link_to "The No Parking<br>Players".html_safe, "http://npp.snstheatre.org", {:target => "_blank"} %></li>
        </ul>
      </div>
    </div>
    <div id='view'>
      <noscript><div class='article' style='text-align:center;'>It looks like your browser has Javascript turned off. If you want this page to render properly go to your browser's settings and turn Javascript on.</div></noscript>
      <% if flash[:notice] %>
      <div class='article'><%= flash[:notice].html_safe %></div>
      <% end %>
      <%= yield %>
    </div>
    <div id='footer' class='topcorner shadow'>&copy; 2010 Scotch'n'Soda Theatre at <b>Carnegie Mellon University</b><br />5000 Forbes Avenue, UC Suite 103 Box 57, Pittsburgh, PA 15213<br /><a href='mailto:board@snstheatre.org'>board@snstheatre.org</a> | <a href='mailto:webmaster@snstheatre.org'>webmaster@snstheatre.org</a></div>
  </div>
  <div id='bodyfooter'>
    <% if action_name == "index" %>
    <div id='twitter_update_list' class='twittercallout'><div id='twittertext'></div><div class='twitterstem'></div></div>
    <div id='twitter_heyclickme' class='twittercallout'>Click for tweets!<div class='twitterstem'></div></div>
    <div id='twitbird' onmouseover='showClickme()' onmouseout='hideClickme()' onclick='showTwitter()'></div>
    <% end %>
    <div id='bodyfootertext'>
      <span class='fleft br'><a href='http://twitter.com/snstheatre' target='_blank'><span style='font-weight:normal;padding:0px;margin:0px;'>Follow us on </span>Twitter</a></span>
      <span class='fleft bl'><a href='http://www.facebook.com/advertising/?pages#/pages/ScotchnSoda-Theatre/27084790350?ref=ts' target='_blank'><span style='font-weight:normal;padding:0px;margin:0px;'>Become a fan on </span>Facebook</a></span>
      <span id='sendemail' class='fright'><a href='mailto:webmaster@snstheatre.org'><span style='font-weight:normal;padding:0px;margin:0px;'>Send us an </span>Email</a></span>
    </div>
  </div>
  <% unless current_user.guest? %>
    <div id='admin'>
      <a id='adminbutton' href='/admin'>ADMIN</a>
    </div>
  <% end %>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-9104858-1");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
</html>
