<!DOCTYPE html>
<html lang="en">
<head>
	<title>Scotch'n'Soda Theatre</title>
	<meta charset='utf-8' />
	<%= stylesheet_link_tag "snstheatre", "carousel", "colorbox", :media => "all" %>
	<%= javascript_include_tag :defaults, "jquery-1.4.1.min", "jquery.colorbox-min", "colorbox" %>
	<% if action_name == "index" %>
  <%= javascript_include_tag "carousel.js", "twitter.js" %>
	<% end %>
	<script type='text/javascript'>
    jQuery.noConflict();
    <% if action_name == "index" %>
    jQuery(document).ready(function(){
      // carousel
      jQuery('#carouselitemscontainer')[0].style.width = (jQuery('#carouselitemscontainer > div').size() * 511) + "px";
      jQuery('#carousellinkscontainer')[0].style.width = (jQuery('#carousellinkscontainer > div').size() * 165) + "px";
      navright = 0;
      navmin = (jQuery('#carousellinkscontainer > div').size()-2) * -165;
      var i;
      for (i=0; i<jQuery('#carouselitemscontainer > div').size(); i++)
        if (jQuery('#carouselitemscontainer > div')[i].id == "carouselitem_<%= @activeshow.abbrev %>")
          break;
      var x = (jQuery("#carouselitemscontainer > div").size()-i-1)*-511;
      var y = x+"px";
      jQuery("#carouselitemscontainer").css('right',y);
      
      // noscript
      jQuery("#sendemail").show();
      jQuery("#twitbird").show();
      
      // twitter UI
      window.onresize = checkWidth;
      loadTweets();
      
      // colorbox
      jQuery("#sendemaila").colorbox({initialWidth:"600px", initialHeight:"382px", transition:"fade", width:"600px", height:"382px", opacity:0.5, href:'#inline_sendemail', inline:true});
    });
    <% end %>
	</script>
</head>
<body>
  <div id='bannernocss3'></div>
  <div id='banner'></div>
  <div id='container'>
    <div id='header'><h1><a href='/'>Scotch&#146;n&#146;Soda Theatre</a></h1><h2>Student theatre at Carnegie Mellon since 1938</h2></div>
    <div id='nav' class='botcorner shadow'><%= render :partial => "menu" %></div>
    <script type='text/javascript'>
      jQuery(".menua").css("width",(900/jQuery(".menua").size())+"px")
      jQuery(".menua").first().addClass("bottomleftcorner");
      jQuery(".menua").last().addClass("bottomrightcorner");
      jQuery("#menu li").first().addClass("bottomleftcorner");
      jQuery("#menu li").last().addClass("bottomrightcorner");
    </script>
    <div id='view'>
      <!--[if IE]><div class='article' style='text-align:center;'>It looks like you're viewing this page with Internet Explorer. May I suggest you try <a href='http://www.mozilla.com/en-US/firefox/firefox.html' target='_blank'>Mozilla Firefox</a> instead?</div><![endif]-->
      <noscript><div class='article' style='text-align:center;'>It looks like your browser has Javascript turned off. If you want this page to render properly go to your browser's settings and turn Javascript on.</div></noscript>
      <%= yield %>
    </div>
    <div id='footer' class='topcorner shadow'>&copy; 2009 Scotch'n'Soda Theatre at <b>Carnegie Mellon Univeristy</b><br />5000 Forbes Avenue, UC Suite 103 Box 57, Pittsburgh, PA 15213<br /><a href='mailto:board@snstheatre.org'>board@snstheatre.org</a> | <a href='mailto:webmaster@snstheatre.org'>webmaster@snstheatre.org</a></div>
  </div>
  <div id='bodyfooter'>
    <% if action_name == "index" %>
    <div id='twitter_update_list' class='twittercallout'><div id='twittertext'></div><div class='twitterstem'></div></div>
    <div id='twitter_heyclickme' class='twittercallout'>click for tweets!<div class='twitterstem'></div></div>
    <div id='twitbird' onmouseover='showClickme()' onmouseout='hideClickme()' onclick='showTwitter()'></div>
    <% end %>
    <div id='bodyfootertext'>
      <span class='fleft br'>Follow us on <a href='http://twitter.com/snstheatre' target='_blank'>Twitter</a></span>
      <span class='fleft bl'>Become a fan on <a href='http://www.facebook.com/advertising/?pages#/pages/ScotchnSoda-Theatre/27084790350?ref=ts' target='_blank'>Facebook</a></span>
      <span id='sendemail' class='fright' style='display:none;'>Send us an <a id='sendemaila' href='mailto://webmaster@snstheatre.org' target='_blank'>Email</a></span>
      <div style='display:none;'>
      <div id='inline_sendemail'>
        <div style='display:none;'>
          <div id='emailFlash' class='emailFlash'>
            <div id='emailFlash_invalid' class='emailFlash'>
              invalid!
            </div>
            <div id='emailFlash_failure' class='emailFlash'>
              failure!
            </div>
          </div>
          <div id='emailSuccess' class='emailFlash'>
            success!
          </div>
        </div>
        <div id='emailForm'>
          <div id='emailFormHeader' class='header'>Send us an Email</div>
          <div>Please use the form below to send us an email with comments, questions or whatever! We'll do our best to respond quickly.</div>
          <!-- put a form here, with a click thing to trigger a function that ajaxs, whew! -->
          <!-- name, email, subject (optional), message. button onclick=sendEmail() -->
          <span class='emailFormAlign'>NAME <input type='text' id='sendemail_name' /></span><br />
          <span class='emailFormAlign'>EMAIL ADDRESS <input type='text' id='sendemail_replyto' /></span>
          <span style='position:absolute;right:110px;'>*required field</span><br />
          <span class='emailFormAlign'>SUBJECT <input type='text' id='sendemail_subject' /></span><br />
          <span class='fright' style='margin-top:5px;'><textarea id='sendemail_message' cols='49' rows='6'></textarea></span><span class='fright' style='margin-top:5px;'>MESSAGE&nbsp;</span><br clear='all' />
          <br />
          <span class='emailFormAlign'><input type='submit' value='Send!' id='sendemail_button' onclick='sendEmail();' /></span>
        </div>
      </div>
      </div>
      <br clear='all' style='height:0px;' />
    </div>
  </div>
  <% unless session[:user_id].nil? || session[:user_id].blank? %>
    <%= render :partial => "admin" %>
  <% end %>
</body>
</html>